{% extends "base.html" %} {% load static %} {% block title %}Account Invalid{%endblock %} {% block content %}
<main class="pt-5">
  <div class="container" style="max-width: 1000px">
    <div class="col-12">
      <h3 class="h2">Account Invalid</h3>
    </div>
    <div class="col-12 d-flex justify-content-between">
      <div>Your Account Details are invalid</div>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <div><a href="{% url "account:register" %}">Click to try to register again</a></div>
      </div>
  </div>
</main>
{% endblock %}